<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="#" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="#" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <title>Register</title>
</head>
<body>
<div class="container-fluid">


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">Employee form</h1>
        </div>
        <form class="form-horizontal" action="#" th:action="@{/register}" th:object="${user}" method="post" style="margin:10px 10px 10px 10px">
            <div class="form-group">
                <label for="username" class="control-label col-sm-2">Username:</label>
                <input type="text"  th:field="*{username}" class="col-sm-9" id="username" placeholder="enter username"/>
            </div>
            <div class="form-group">
                <label for="password" class="control-label col-sm-2">Password:</label>
                <input type="password" th:field="*{password}" class="col-sm-9" id="password" placeholder="enter password"/>
            </div>
            <div class="form-group">
                <label for="email" class="control-label col-sm-2">Email:</label>
                <input type="text" th:field="*{emailId}" class="col-sm-9" id="email" placeholder="enter email"/>
            </div>
            <div class="form-group">
                <label for="fullName" class="control-label col-sm-2">Full name:</label>
                <input type="text" th:field="*{fullName}" class="col-sm-9" id="fullName" placeholder="enter full name"/>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <a type="button" th:href="@{/my-login}"  class="btn btn-default col-sm-2">Login</a>


</div>
</body>
</html>